In [28]:
import pandas as pd
df=pd.DataFrame()
print(df)

Empty DataFrame
Columns: []
Index: []

In [30]:
import pandas as pd
emp=pd.Series(['Dharsan','Sudeep','Siva','Yash','Keerthana'])
id=pd.Series([80,90,28,57,49])
frame={'Emp':emp,'ID':id}
result=pd.DataFrame(frame)
print("\nSeries to DataFrame\n")
print(result)

Series to DataFrame

         Emp  ID
0    Dharsan  80
1     Sudeep  90
2       Siva  28
3       Yash  57
4  Keerthana  49

In [32]:
print("\n Extracting one column\n")
print(result['Emp'])

 Extracting one column

0      Dharsan
1       Sudeep
2         Siva
3         Yash
4    Keerthana
Name: Emp, dtype: object

In [34]:
print("\n Adding new column:\n")
result['ID']=pd.Series([80,90,28,56,89])
result['Age']=pd.Series([19,90,4,67,20])
print(result)

 Adding new column:

         Emp  ID  Age
0    Dharsan  80   19
1     Sudeep  90   90
2       Siva  28    4
3       Yash  56   67
4  Keerthana  89   20

In [36]:
print("\n Deleting new column:\n")
del result['Age']
print(result)

 Deleting new column:

         Emp  ID
0    Dharsan  80
1     Sudeep  90
2       Siva  28
3       Yash  56
4  Keerthana  89

In [38]:
print("\n Extracting the second row:\n")
print(result.loc[1])

 Extracting the second row:

Emp    Sudeep
ID         90
Name: 1, dtype: object

In [40]:
print("slice rows:\n",result[1:4])

slice rows:
       Emp  ID
1  Sudeep  90
2    Siva  28
3    Yash  56

In [45]:
d2=pd.DataFrame([['vicky',100],['rashid',111]],columns=['Emp','ID'])
print("\n Adding new row values:\n",pd.concat([result,d2]))

 Adding new row values:
          Emp   ID
0    Dharsan   80
1     Sudeep   90
2       Siva   28
3       Yash   56
4  Keerthana   89
0      vicky  100
1     rashid  111

In [49]:
print("\n Deleting particular row:\n",result.drop(2))

 Deleting particular row:
          Emp  ID
0    Dharsan  80
1     Sudeep  90
3       Yash  56
4  Keerthana  89