In [2]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame with NaN\n",df)
print("\n")
print("Dropped DataFrame\n",df.dropna())
print("\n")

Original DataFrame with NaN
         one       two     three
a -0.223671 -0.903766 -0.288007
b       NaN       NaN       NaN
c  1.265788  1.195534  1.152903
d  0.797292  0.792740  2.099910
e       NaN       NaN       NaN
f -0.664128 -2.188561  1.694572


Dropped DataFrame
         one       two     three
a -0.223671 -0.903766 -0.288007
c  1.265788  1.195534  1.152903
d  0.797292  0.792740  2.099910
f -0.664128 -2.188561  1.694572

In [9]:
import pandas as pd
import numpy as np
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c'])
print("Original DataFrame with NaN\n",df)
print("\n")
print("NaN replaced with '0':\n",df.fillna(0))
print("\n")

Original DataFrame with NaN
         one       two     three
a -0.747305 -1.240524  0.750155
b       NaN       NaN       NaN
c -1.020404 -0.616162  0.207677


NaN replaced with '0':
         one       two     three
a -0.747305 -1.240524  0.750155
b  0.000000  0.000000  0.000000
c -1.020404 -0.616162  0.207677

In [10]:
df=pd.DataFrame({'one':[10,20,80,40,50],'two':[60,70,80,0,10]})
print("Original DataFrame :\n",df)
print("\n DataFrame with replaced values:\n")
print(df.replace({10:5,80:3}))

Original DataFrame :
    one  two
0   10   60
1   20   70
2   80   80
3   40    0
4   50   10

 DataFrame with replaced values:

   one  two
0    5   60
1   20   70
2    3    3
3   40    0
4   50    5

In [14]:
df=pd.DataFrame(np.random.randn(4,3),index=['a','c','d','f'],columns=['one','two','three'])
df=df.reindex(['a','b','c','d','e','f'])
print("Original DataFrame :\n",df)
print("\n NaN-with True fill:\n")
print(df['one'].isnull())

Original DataFrame :
         one       two     three
a  1.206127 -0.189830 -1.524803
b       NaN       NaN       NaN
c  1.426220 -1.464549 -0.346324
d  1.011814 -0.018996  0.507214
e       NaN       NaN       NaN
f -0.378515  0.851000  0.073880

 NaN-with True fill:

a    False
b     True
c    False
d    False
e     True
f    False
Name: one, dtype: bool

In [13]:
print("\n NaN-filled with Background values:\n")
print(df.fillna(method='bfill'))

 NaN-filled with Background values:

        one       two     three
a -0.116029  0.804266 -0.511746
b  0.716303  0.541015  0.327512
c  0.716303  0.541015  0.327512
d  2.473663 -0.226988  3.268337
e  0.721215  0.706866  0.842285
f  0.721215  0.706866  0.842285