In [1]:
import pandas as pd
data={'Name':['Sai','yuva','poo','Savi','Ruba','Raj','Ravi'],'Age':[20,18,19,20,18,17,19],
     'Gender':['M','F','M','F','F','M','M'],'Marks':[90,76,'NaN',74,65,'NaN',71]}
df=pd.DataFrame(data)
print("Originaldataframe:\n",df)
c=avg=0
for ele in df['Marks']:
    if str(ele).isnumeric():
        c+=1
        avg+=ele
avg/=c
df=df.replace(to_replace='NaN',value=avg)
print("\n Replacing NaN with average marks:\n",df)

Originaldataframe:
    Name  Age Gender Marks
0   Sai   20      M    90
1  yuva   18      F    76
2   poo   19      M   NaN
3  Savi   20      F    74
4  Ruba   18      F    65
5   Raj   17      M   NaN
6  Ravi   19      M    71

 Replacing NaN with average marks:
    Name  Age Gender  Marks
0   Sai   20      M   90.0
1  yuva   18      F   76.0
2   poo   19      M   75.2
3  Savi   20      F   74.0
4  Ruba   18      F   65.0
5   Raj   17      M   75.2
6  Ravi   19      M   71.0

In [2]:
df=df[df['Marks']>=75]
df=df.drop(['Age'],axis=1)
print("\n Filtering and dropping function:\n",df)

 Filtering and dropping function:
    Name Gender  Marks
0   Sai      M   90.0
1  yuva      F   76.0
2   poo      M   75.2
5   Raj      M   75.2

In [3]:
one=pd.DataFrame({'Name':['Sai','Raj','Yuva','Ram','Sam'],
                  'Subject_id':['Sub1','Sub2','Sub3','Sub4','Sub5'],
                 'Marks_scored':[98,90,92,85,89]},index=[1,2,3,4,5])
two=pd.DataFrame({'Name':['Sanju','Rave','Shree','Niki','Rahul'],
                 'Subject_id':['Sub1','Sub2','Sub3','Sub4','Sub5'],
                 'Marks_scored':[73,80,85,98,79]},index=[1,2,3,4,5])
print("\n original DataFrame1\n",one)
print("\n original DataFrame2\n",two)
print(pd.concat([one,two]))

 original DataFrame1
    Name Subject_id  Marks_scored
1   Sai       Sub1            98
2   Raj       Sub2            90
3  Yuva       Sub3            92
4   Ram       Sub4            85
5   Sam       Sub5            89

 original DataFrame2
     Name Subject_id  Marks_scored
1  Sanju       Sub1            73
2   Rave       Sub2            80
3  Shree       Sub3            85
4   Niki       Sub4            98
5  Rahul       Sub5            79
    Name Subject_id  Marks_scored
1    Sai       Sub1            98
2    Raj       Sub2            90
3   Yuva       Sub3            92
4    Ram       Sub4            85
5    Sam       Sub5            89
1  Sanju       Sub1            73
2   Rave       Sub2            80
3  Shree       Sub3            85
4   Niki       Sub4            98
5  Rahul       Sub5            79