In [11]:
import pandas as pd
Car_selling_data={'Brand':['Maruti','Maruti','Maruti','Maruti','Hyundai','Hyundai','Toyota','Mahindra',
                           'Mahindra','Ford','Toyota','Ford'],
                 'Year':[2010,2011,2009,2013,2010,2011,2011,2010,2013,2010,2010,2011],
                 'Sold':[6,7,9,8,3,5,2,8,7,2,4,2]}
df=pd.DataFrame(Car_selling_data)
print("\n original DataFrame:\n",df)
grouped=df.groupby('Year')
print("\n Group by Year:\n",grouped.get_group(2010))

 original DataFrame:
        Brand  Year  Sold
0     Maruti  2010     6
1     Maruti  2011     7
2     Maruti  2009     9
3     Maruti  2013     8
4    Hyundai  2010     3
5    Hyundai  2011     5
6     Toyota  2011     2
7   Mahindra  2010     8
8   Mahindra  2013     7
9       Ford  2010     2
10    Toyota  2010     4
11      Ford  2011     2

 Group by Year:
        Brand  Year  Sold
0     Maruti  2010     6
4    Hyundai  2010     3
7   Mahindra  2010     8
9       Ford  2010     2
10    Toyota  2010     4

In [15]:
student_data={'name':['jai','rahul','indrajth','gokul','balaji','kishore','ram','rudresh','nithin','thashwin'],
             'roll_no':[20,25,20,32,69,32,20,35,69,11],
             'email':['ram@gmail.com','jai@gmail.com','shiva@gmail.com','jeeva@gmail.com','balaji@gmail.com',
                      'ravi@gmail.com','rishi@gmail.com','aaku@gmail.com','ash@gmail.com','tharun@gmail.com']}
df=pd.DataFrame(student_data)
print("\noriginal dataframe:\n",df)

original dataframe:
        name  roll_no             email
0       jai       20     ram@gmail.com
1     rahul       25     jai@gmail.com
2  indrajth       20   shiva@gmail.com
3     gokul       32   jeeva@gmail.com
4    balaji       69  balaji@gmail.com
5   kishore       32    ravi@gmail.com
6       ram       20   rishi@gmail.com
7   rudresh       35    aaku@gmail.com
8    nithin       69     ash@gmail.com
9  thashwin       11  tharun@gmail.com

In [13]:
details=pd.DataFrame({'ID':[101,102,103,104,105,106,107,108,109,110],'Name':['Arun','Pavi','Sai','Poo','Ravi','Anu','Jack','Amit','Ria','Savi'],'Branch':['Mech','Mech','CSE','CSE','CSE','EEE','EEE','EEE','IT','IT']})
print('Original DataFrame1\n',details)
fees_status=pd.DataFrame({'ID':[102,102,103,104,105,106,107,108,109,110],'Pending':['5000','250','NIL','9000','15000','NIL','4500','1800','250','NIL']})
print('Original DataFrame2\n',fees_status)
print('Merged DataFrame\n',pd.merge(details,fees_status,on='ID'))

Original DataFrame1
     ID  Name Branch
0  101  Arun   Mech
1  102  Pavi   Mech
2  103   Sai    CSE
3  104   Poo    CSE
4  105  Ravi    CSE
5  106   Anu    EEE
6  107  Jack    EEE
7  108  Amit    EEE
8  109   Ria     IT
9  110  Savi     IT
Original DataFrame2
     ID Pending
0  102    5000
1  102     250
2  103     NIL
3  104    9000
4  105   15000
5  106     NIL
6  107    4500
7  108    1800
8  109     250
9  110     NIL
Merged DataFrame
     ID  Name Branch Pending
0  102  Pavi   Mech    5000
1  102  Pavi   Mech     250
2  103   Sai    CSE     NIL
3  104   Poo    CSE    9000
4  105  Ravi    CSE   15000
5  106   Anu    EEE     NIL
6  107  Jack    EEE    4500
7  108  Amit    EEE    1800
8  109   Ria     IT     250
9  110  Savi     IT     NIL