In [2]:
import numpy as np
import pandas as pd
df=pd.DataFrame({'Name':['Alice','Bob','Charlie','Alice','Bob','Charlie'],
                'Category':['A','B','C','A','B','C'],
                'Value':np.random.randint(1,5,size=6),
                'Score':np.random.randint(60,100,size=6)})
print("\n original DataFrame:\n",df)
df1=df.groupby(('Name'),as_index=False)['Value'].sum()
print("\n Group and Aggregate with one column:\n",df1)

 original DataFrame:
       Name Category  Value  Score
0    Alice        A      4     80
1      Bob        B      2     78
2  Charlie        C      1     68
3    Alice        A      1     92
4      Bob        B      3     68
5  Charlie        C      2     74

 Group and Aggregate with one column:
       Name  Value
0    Alice      5
1      Bob      5
2  Charlie      3

In [3]:
df2=df.groupby(('Name'),as_index=False)[['Value','Score']].sum()
print("\n Group and Aggregate with two column sum:\n",df2)

 Group and Aggregate with two column sum:
       Name  Value  Score
0    Alice      5    133
1      Bob      7    164
2  Charlie      6    142

In [4]:
df3=df.groupby(('Name'),as_index=False)['Value'].agg('sum')
print("\n Group and Aggregate with one column:\n",df3)

 Group and Aggregate with one column:
       Name  Value
0    Alice      5
1      Bob      7
2  Charlie      6

In [5]:
df4=df.groupby(('Name'),as_index=False)['Value'].agg('max')
print("\n Group and Aggregate with one column:\n",df4)

 Group and Aggregate with one column:
       Name  Value
0    Alice      4
1      Bob      4
2  Charlie      4

In [6]:
df4=df.groupby('Name').agg({'Value':['sum','mean','min','max'],
                           'Score':['sum','mean']})
print("\n Group by name and multiple aggregation:\n",df4)

 Group by name and multiple aggregation:
         Value              Score
          sum mean min max   sum  mean
Name
Alice       5  2.5   1   4   133  66.5
Bob         7  3.5   3   4   164  82.0
Charlie     6  3.0   2   4   142  71.0

In [3]:
df5=df.groupby(('Name'),as_index=False)['Value'].count()
print("\n Group and Count:\n",df5)

 Group and Count:
       Name  Value
0    Alice      2
1      Bob      2
2  Charlie      2

In [4]:
df6=df.groupby(('Name')).count()
print("\n Group and Count:\n",df6)

 Group and Count:
          Category  Value  Score
Name
Alice           2      2      2
Bob             2      2      2
Charlie         2      2      2

In [6]:
df7=df.groupby(('Name'),as_index=False)['Value'].first()
print("\n Group and display from first:\n",df7)

 Group and display from first:
       Name  Value
0    Alice      4
1      Bob      2
2  Charlie      1

In [7]:
df8=df.groupby(('Name')).first()
print("\n Group and display from first:\n",df8)

 Group and display from first:
         Category  Value  Score
Name
Alice          A      4     80
Bob            B      2     78
Charlie        C      1     68

In [8]:
df9=df.groupby(('Name'),as_index=False)['Value'].last()
print("\n Group and display from last:\n",df9)

 Group and display from last:
       Name  Value
0    Alice      1
1      Bob      3
2  Charlie      2

In [9]:
df10=df.groupby(('Name')).last()
print("\n Group and display from last:\n",df10)

 Group and display from last:
         Category  Value  Score
Name
Alice          A      1     92
Bob            B      3     68
Charlie        C      2     74

In [10]:
df11=df.groupby(('Name'),as_index=False)['Value'].size()
print("\n Group and display size:\n",df11)

 Group and display size:
       Name  size
0    Alice     2
1      Bob     2
2  Charlie     2

In [11]:
df12=df.groupby(('Name')).size()
print("\n Group and display size:\n",df12)

 Group and display size:
 Name
Alice      2
Bob        2
Charlie    2
dtype: int64