In [1]:
import datetime
cd=datetime.datetime.now()
print(cd)

2025-04-11 13:46:49.006045

In [2]:
res=cd.strftime("%y")
print("\nTwo-digit year:", res)

Two-digit year: 25

In [3]:
res1=cd.strftime("%Y")
print("\nFour-digit year:", res1)

Four-digit year: 2025

In [4]:
res=cd.strftime("%m")
print("\nTwo-digit month [01, 12]:",res)

Two-digit month [01, 12]: 04

In [5]:
res=cd.strftime("%b")
print("\nShort version of month", res)

Short version of month Apr

In [6]:
res=cd.strftime("%B")
print("\nFull name of month:",res)

Full name of month: April

In [7]:
res=cd.strftime("%j")
print("\nDays of the year:", res)

Days of the year: 101

In [9]:
res=cd.strftime("%D")
print("\nShortcut for %m/%d/%y(e.g.,04/18/12):", res)

Shortcut for %m/%d/%y(e.g.,04/18/12): 04/11/25

In [10]:
res=cd.strftime("%d")
print("\nTwo-digit day [01, 31]:", res)

Two-digit day [01, 31]: 11

In [11]:
res=cd.strftime("%a")
print("\nShort version of day", res)

Short version of day Fri

In [12]:
res=cd.strftime("A")
print("\nFull name of a day:", res)

Full name of a day: A

In [13]:
res=cd.strftime("%H")
print("\nHour (24-hour clock) [00, 23]:",res)

Hour (24-hour clock) [00, 23]: 13

In [14]:
res=cd.strftime("%I")
print("\nHour(12-hour clock)[01, 12]",res)

Hour(12-hour clock)[01, 12] 01

In [15]:
res=cd.strftime("%M")
print("\nTwo-digit minute[00, 59]:", res)

Two-digit minute[00, 59]: 46

In [16]:
res=cd.strftime("%S")
print("\nSecond (00, 61] (seconds 60, 61 account for leap seconds):",res)

Second (00, 61] (seconds 60, 61 account for leap seconds): 49

In [17]:
res=cd.strftime("%F")
print("\nShortcut for %Y-%m-%d (eg, 2012-4-18):",res)

Shortcut for %Y-%m-%d (eg, 2012-4-18): 2025-04-11

In [19]:
res=cd.strftime("%f")
print("\nMicrosecond as an integer,zero-padded(from 000000 to 999999):",res)

Microsecond as an integer,zero-padded(from 000000 to 999999): 006045

In [20]:
res=cd.strftime("%p")
print("\nLocale equivalent of AM or PM:", res)

Locale equivalent of AM or PM: PM

In [24]:
res=cd.strftime("%X")
print("\nLocale-appropriate time (e.g.,'04:24:12 PM'):",res)

Locale-appropriate time (e.g.,'04:24:12 PM'): 13:46:49

In [28]:
res=cd.strftime("%x")
print("\nLocale-appropriate formatted date(eg, in the United States, May 1, 2012 yields'05/01/2012)", res)

Locale-appropriate formatted date(eg, in the United States, May 1, 2012 yields'05/01/2012) 04/11/25