In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

#create a date variable that contains the dates
dates = [datetime(2011, 1, 2),
datetime(2011, 1, 5),
datetime(2011, 1, 7),
datetime(2011, 1, 8),
datetime(2011, 1, 10),
datetime(2011, 1, 12)]

#with this date object, create a series
ts = pd.Series(np.random.randn(6), index=dates)
print("Date Index \n",ts)

Date Index
 2011-01-02    1.517627
2011-01-05    0.068445
2011-01-07   -1.257441
2011-01-08   -0.317931
2011-01-10   -0.978442
2011-01-12    0.928928
dtype: float64

In [2]:
print("\nDate Index alone from the series:\n",ts.index)

Date Index alone from the series:
 DatetimeIndex(['2011-01-02', '2011-01-05', '2011-01-07', '2011-01-08',
               '2011-01-10', '2011-01-12'],
              dtype='datetime64[ns]', freq=None)

In [3]:
stamp=ts.index[2]
print("\nSecond index:\n", stamp)

Second index:
 2011-01-07 00:00:00

In [4]:
longer_ts=pd.Series(np.random.randn(1000),
index=pd.date_range("2000-01-01",periods=1000))
print("\nDaterange up to 1000 days:\n",longer_ts)

Daterange up to 1000 days:
 2000-01-01    1.309004
2000-01-02   -0.703416
2000-01-03   -0.103843
2000-01-04    0.916326
2000-01-05   -0.139819
                ...
2002-09-22    0.469249
2002-09-23    0.433138
2002-09-24   -0.765577
2002-09-25   -0.066974
2002-09-26    0.721340
Freq: D, Length: 1000, dtype: float64

In [5]:
print("\nDate range-2001 year:\n", longer_ts["2001"])

Date range-2001 year:
 2001-01-01    1.449333
2001-01-02   -1.432424
2001-01-03   -0.588352
2001-01-04   -0.642576
2001-01-05    1.677372
                ...
2001-12-27    0.394644
2001-12-28   -1.551603
2001-12-29   -0.254725
2001-12-30   -0.164256
2001-12-31    1.319989
Freq: D, Length: 365, dtype: float64

In [6]:
print("\nDate range-05 month 2001 year:\n", longer_ts["2001-05"])

Date range-05 month 2001 year:
 2001-05-01    1.565329
2001-05-02   -0.898396
2001-05-03   -0.411294
2001-05-04   -0.367018
2001-05-05   -1.179965
2001-05-06    1.233694
2001-05-07    0.746433
2001-05-08    0.913317
2001-05-09    0.532068
2001-05-10   -0.175841
2001-05-11    0.522727
2001-05-12   -1.502993
2001-05-13   -0.033074
2001-05-14    1.261170
2001-05-15    2.107015
2001-05-16   -2.357223
2001-05-17   -2.277467
2001-05-18    2.280650
2001-05-19   -0.051427
2001-05-20   -0.250862
2001-05-21    0.551681
2001-05-22   -0.677563
2001-05-23    0.061350
2001-05-24    0.206124
2001-05-25   -1.747637
2001-05-26    2.074574
2001-05-27    0.484082
2001-05-28    1.377071
2001-05-29   -0.130346
2001-05-30    1.221873
2001-05-31    1.338126
Freq: D, dtype: float64

In [7]:
print("\nDate range-first few dates in 2000 year:\n",longer_ts["2000"].head())

Date range-first few dates in 2000 year:
 2000-01-01    1.309004
2000-01-02   -0.703416
2000-01-03   -0.103843
2000-01-04    0.916326
2000-01-05   -0.139819
Freq: D, dtype: float64

In [8]:
print("\nDate range-first 15 dates in 02 month 2001 year:\n",longer_ts["2000-02"].head(15))

Date range-first 15 dates in 02 month 2001 year:
 2000-02-01    0.007304
2000-02-02    0.241338
2000-02-03    0.987990
2000-02-04    1.313863
2000-02-05   -0.030022
2000-02-06   -0.742553
2000-02-07    1.237262
2000-02-08   -1.124598
2000-02-09   -0.201063
2000-02-10   -0.097784
2000-02-11    0.501697
2000-02-12    0.014553
2000-02-13    0.208924
2000-02-14   -0.390910
2000-02-15   -1.754839
Freq: D, dtype: float64

In [9]:
print("\nDate range-rom 26-9-2001:\n",longer_ts[datetime(2000,9,26):])

Date range-rom 26-9-2001:
 2000-09-26   -0.610176
2000-09-27   -1.210045
2000-09-28    0.470877
2000-09-29   -0.698048
2000-09-30    0.694881
                ...
2002-09-22    0.469249
2002-09-23    0.433138
2002-09-24   -0.765577
2002-09-25   -0.066974
2002-09-26    0.721340
Freq: D, Length: 731, dtype: float64